<center><h1>{{amount | safe}}</h1></center>

<script>
  $(".spoiler-trigger").click(function() {
		$(this).parent().next().collapse('toggle');
	});
</script>
  <div class="panel panel-default">
    <div class="panel-heading">
      <button type="button" class="btn btn-default btn-xs spoiler-trigger" data-toggle="collapse">Toggle Button</button>
    </div>
    <div class="panel-collapse collapse out">
      <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, quos, accusamus. Quidem, molestiae. Ipsam consequatur impedit voluptatem, quod qui perferendis fugiat. Eos adipisci dolorem doloremque quos debitis excepturi ex itaque!</p>
      </div>
    </div>
  </div>